/*Hintergrundfarbe des Webauftritts*/
body {background-color: #f6f6f6;}


/*Schriftfarbe aller Überschriften*/
h1, h2, h3, h4, h5, h6 {color: #efa800}


/*Schriftart der Paragraphe (Texte)*/
p {font-family: Arial;}


/*Tabelleninhalte auf "rechtsbündig" stellen*/
table td:nth-child(2), table td:nth-child(3) {
  margin-left: 1em; /*  1.5em 2em 4em;    Abstand zum Rand der Tabelle (verläuft im Uhrzeigersinn*/
  padding: 1em;
  text-align: right;
}


/*th = Umrahmung der Spaltenüberschriften der Tabelle UND td = Umrahmung der Tabellen-felder*/
table, th, td {
  border: 1px solid black;
  /*Tabellenfelder zu einer ganzen Tabelle verbinden*/
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
}


table {
    margin-left: auto;
    margin-right:auto;
}


/*padding = Abstand des Inhalts der Tabelle zum Tabellenrahmen
/ margin = Abstand der Tabelle zum Seitenrand  */
td, th {
    margin-left: 1em;
    padding: 1em;
}


#my {
    padding-bottom: 3.5em;
    border-bottom: 1px solid black;
}
